<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <title>Document</title>
</head>
<body>
    <!-- <section class="min-h-[50vh] p-20 grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8">
        <div class="flex flex-col items-center justify-center rounded-lg bg-[#FDE7E7] p-2">
            <div class="rounded-md bg-white w-full p-3">
                <div class="flex justify-between items-center">
                    <div class="flex items-center gap-2">
                        <div class="rounded-full border-2 border-gray-400"><img src="/images/c1.png" alt="" class="w-10"></div>
                        <p class="font-semibold text-neutral-700">IBM Company</p>
                    </div>
                    <div class="rounded-full border-2 border-gray-400 cursor-pointer w-8 h-8 flex items-center justify-center p-1">
                        <i class="fi fi-rr-bookmark mt-1"></i>
                    </div>
                </div>
                <div class="border-t-2 border-gray-500 mt-4">
                    <p class="text-neutral-700 text-[16px] mt-2">Product Designer</p>
                    <div class="grid grid-cols-2 gap-3 mt-2">
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-marker"></i>
                            <p>Jakarta, Indonesia</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-clock-three"></i>
                            <p>Full-time</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-building"></i>
                            <p>Cognifiz Technology</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-usd-circle"></i>
                            <p>$400/month</p>
                        </div>
                    </div>
                    <button class="w-full rounded-full flex items-center justify-center bg-black p-2 text-white mt-3 text-[14px]">Apply</button>
                </div>
            </div>
            <p class="text-gray-600 text-sm mt-2">Posted Yestrday</p>
        </div>

        <div class="flex flex-col items-center justify-center rounded-lg bg-[#FDE7E7] p-2">
            <div class="rounded-md bg-white w-full p-3">
                <div class="flex justify-between items-center">
                    <div class="flex items-center gap-2">
                        <div class="rounded-full border-2 border-gray-400"><img src="/images/c1.png" alt="" class="w-10"></div>
                        <p class="font-semibold text-neutral-700">IBM Company</p>
                    </div>
                    <div class="rounded-full border-2 border-gray-400 cursor-pointer w-8 h-8 flex items-center justify-center p-1">
                        <i class="fi fi-rr-bookmark mt-1"></i>
                    </div>
                </div>
                <div class="border-t-2 border-gray-500 mt-4">
                    <p class="text-neutral-700 text-[16px] mt-2">Product Designer</p>
                    <div class="grid grid-cols-2 gap-3 mt-2">
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-marker"></i>
                            <p>Jakarta, Indonesia</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-clock-three"></i>
                            <p>Full-time</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-building"></i>
                            <p>Cognifiz Technology</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-usd-circle"></i>
                            <p>$400/month</p>
                        </div>
                    </div>
                    <button class="w-full rounded-full flex items-center justify-center bg-black p-2 text-white mt-3 text-[14px]">Apply</button>
                </div>
            </div>
            <p class="text-gray-600 text-sm mt-2">Posted Yestrday</p>
        </div>

        <div class="flex flex-col items-center justify-center rounded-lg bg-[#FDE7E7] p-2">
            <div class="rounded-md bg-white w-full p-3">
                <div class="flex justify-between items-center">
                    <div class="flex items-center gap-2">
                        <div class="rounded-full border-2 border-gray-400"><img src="/images/c1.png" alt="" class="w-10"></div>
                        <p class="font-semibold text-neutral-700">IBM Company</p>
                    </div>
                    <div class="rounded-full border-2 border-gray-400 cursor-pointer w-8 h-8 flex items-center justify-center p-1">
                        <i class="fi fi-rr-bookmark mt-1"></i>
                    </div>
                </div>
                <div class="border-t-2 border-gray-500 mt-4">
                    <p class="text-neutral-700 text-[16px] mt-2">Product Designer</p>
                    <div class="grid grid-cols-2 gap-3 mt-2">
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-marker"></i>
                            <p>Jakarta, Indonesia</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-clock-three"></i>
                            <p>Full-time</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-building"></i>
                            <p>Cognifiz Technology</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-usd-circle"></i>
                            <p>$400/month</p>
                        </div>
                    </div>
                    <button class="w-full rounded-full flex items-center justify-center bg-black p-2 text-white mt-3 text-[14px]">Apply</button>
                </div>
            </div>
            <p class="text-gray-600 text-sm mt-2">Posted Yestrday</p>
        </div>

        <div class="flex flex-col items-center justify-center rounded-lg bg-[#FDE7E7] p-2">
            <div class="rounded-md bg-white w-full p-3">
                <div class="flex justify-between items-center">
                    <div class="flex items-center gap-2">
                        <div class="rounded-full border-2 border-gray-400"><img src="/images/c1.png" alt="" class="w-10"></div>
                        <p class="font-semibold text-neutral-700">IBM Company</p>
                    </div>
                    <div class="rounded-full border-2 border-gray-400 cursor-pointer w-8 h-8 flex items-center justify-center p-1">
                        <i class="fi fi-rr-bookmark mt-1"></i>
                    </div>
                </div>
                <div class="border-t-2 border-gray-500 mt-4">
                    <p class="text-neutral-700 text-[16px] mt-2">Product Designer</p>
                    <div class="grid grid-cols-2 gap-3 mt-2">
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-marker"></i>
                            <p>Jakarta, Indonesia</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-clock-three"></i>
                            <p>Full-time</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-building"></i>
                            <p>Cognifiz Technology</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-usd-circle"></i>
                            <p>$400/month</p>
                        </div>
                    </div>
                    <button class="w-full rounded-full flex items-center justify-center bg-black p-2 text-white mt-3 text-[14px]">Apply</button>
                </div>
            </div>
            <p class="text-gray-600 text-sm mt-2">Posted Yestrday</p>
        </div>

        <div class="flex flex-col items-center justify-center rounded-lg bg-[#FDE7E7] p-2">
            <div class="rounded-md bg-white w-full p-3">
                <div class="flex justify-between items-center">
                    <div class="flex items-center gap-2">
                        <div class="rounded-full border-2 border-gray-400"><img src="/images/c1.png" alt="" class="w-10"></div>
                        <p class="font-semibold text-neutral-700">IBM Company</p>
                    </div>
                    <div class="rounded-full border-2 border-gray-400 cursor-pointer w-8 h-8 flex items-center justify-center p-1">
                        <i class="fi fi-rr-bookmark mt-1"></i>
                    </div>
                </div>
                <div class="border-t-2 border-gray-500 mt-4">
                    <p class="text-neutral-700 text-[16px] mt-2">Product Designer</p>
                    <div class="grid grid-cols-2 gap-3 mt-2">
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-marker"></i>
                            <p>Jakarta, Indonesia</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-clock-three"></i>
                            <p>Full-time</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rs-building"></i>
                            <p>Cognifiz Technology</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="fi fi-rr-usd-circle"></i>
                            <p>$400/month</p>
                        </div>
                    </div>
                    <button class="w-full rounded-full flex items-center justify-center bg-black p-2 text-white mt-3 text-[14px]">Apply</button>
                </div>
            </div>
            <p class="text-gray-600 text-sm mt-2">Posted Yestrday</p>
        </div>
    </section> -->

    <section
    id="jobsContainer"
    class="min-h-[50vh] py-20 grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 max-sm:gap-2">
    </section>

    <script src="/data.js"></script>
    <!-- <script src="/jobs.js"></script> -->
</body>
</html>