<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Company Login</title>
</head>
<body class="flex justify-center mt-20">
  <div class="rounded-xl border border-gray-200 py-8 px-6 max-w-90 min-w-[400px] max-w-[800px]">
    <div class="mx-auto mb-6 flex h-16 w-16 items-center justify-center rounded-full bg-pink-100">
      <svg class="h-8 w-8 text-pink-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path>
      </svg>
    </div>
    <h3 class="mb-6 text-center text-xl font-bold text-gray-800">Quick Login</h3>
    <form id="loginForm">
      <div class="mb-4">
        <label class="mb-1 block text-sm font-medium text-gray-700">Company Id</label>
        <input name="companyId" type="text" placeholder="demo1234" class="w-full rounded-lg border border-gray-300 px-3 py-2 focus:border-blue-500 focus:ring-2 focus:ring-blue-500" required />
      </div>

      <div class="mb-6">
        <label class="mb-1 block text-sm font-medium text-gray-700">Password</label>
        <input name="password" type="password" placeholder="123456" class="w-full rounded-lg border border-gray-300 px-3 py-2 focus:border-pink-500 focus:ring-2 focus:ring-pink-500" required />
      </div>

      <button type="submit" class="w-full rounded-lg bg-pink-500 px-4 py-2 text-white hover:bg-pink-600">Sign In</button>
    </form>
  </div>

  <script>
    const form = document.getElementById('loginForm');

    form.addEventListener('submit', async (e) => {
      e.preventDefault(); 

      const formData = new FormData(form);

      const data = new URLSearchParams();
      for (const pair of formData) {
        data.append(pair[0], pair[1]);
      }

      const res = await fetch('/company/login', {
        method: 'POST',
        body: data,
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        credentials: 'include' 
      });

      const result = await res.json();

      if(result.success){
        window.location.href = '/company/dashboard';
      } else {
        alert(result.message || 'Invalid credentials');
      }
    });
  </script>
</body>
</html>
